html {
  @media print {
    font-size: 12px;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpenSons, sans-serif;
  font-weight: 400;
}

span {
  line-height: 0;
}
.page {
  width: 62rem;
  background: #eff9f2;
  padding: 1.5rem 0 1.5rem 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 1.2rem;
  font-family: Belgrano;
  text-transform: uppercase;
  font-weight: inherit;
  margin-bottom: 0.8rem;
}

.contacts-text {
  font-size: 0.8rem;
  color: #000;
}
