<div class="contacts">
  <h3 class="subtitle">Contacts</h3>
  <ul class="list">
    <li class="item">
      <span class="icon">
        <svg class="icon__item" width="10" height="10">
          <use href="img/icon-sprite.svg#icon-phone"></use></svg></span
      ><a href="tel:+380932518220" class="link" target="_blank" rel="noopener noreferrer"
        >+380932518220</a
      >
    </li>
    <li class="item">
      <span class="icon">
        <svg class="icon__item" width="10" height="10">
          <use href="img/icon-sprite.svg#icon-email"></use></svg></span
      ><a href="mailto:piron.johny@gmail.com" class="link" target="_blank" rel="noopener noreferrer"
        >piron.johny@gmail.com</a
      >
    </li>
    <li class="item">
      <span class="icon">
        <svg class="icon__item" width="10" height="10">
          <use href="img/icon-sprite.svg#icon-telegram"></use></svg></span
      ><a href="https://t.me/Johny_Piron" class="link" target="_blank" rel="noopener noreferrer"
        >Piron Johny</a
      >
    </li>
    <li class="item">
      <span class="icon">
        <svg class="icon__item" width="10" height="10">
          <use href="img/icon-sprite.svg#icon-github"></use></svg></span
      ><a
        href="https://github.com/piron-johny"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        >Piron Johny</a
      >
    </li>
    <li class="item">
      <span class="icon">
        <svg class="icon__item" width="10" height="10">
          <use href="img/icon-sprite.svg#icon-linkedin"></use>
        </svg>
      </span>
      <a
        href="https://www.linkedin.com/in/piron-evgeniy-aa4a66226/"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        >Piron Johny</a
      >
    </li>
    <li class="item">
      <span class="icon">
        <svg class="icon__item" width="10" height="10">
          <use href="img/icon-sprite.svg#icon-location"></use>
        </svg>
      </span>
      <p class="location">Odessa, Ukraine</p>
    </li>
  </ul>
</div>
