<header class="header">
  <div class="header__bg"></div>
  <div class="header__content">
    <h1 class="header__name">Piron Evgeniy</h1>
    <h2 class="header__post">Junior front-end dveloper</h2>
    <div class="header__summary summary">
      <h3 class="summary__title subtitle">summary</h3>
      <p class="summary__text">
        I'm a junior front-end developer. I specialize in HTML, CSS, Java Script, React
        technologies. Inquisitive and I like to gain new knowledge by improving myself. I love
        music, I play drums. I have a creative approach to solving problems, I will be useful to the
        company. I am looking for a job in the office and remotely. I'm learning fast. I know how to
        google :)
      </p>
    </div>
  </div>
</header>
