<section class="project">
  <h3 class="project__title">PROJECT EXPERIENCE</h3>
  <ul class="project__list">
    <li>
      <h4 class="project__subtitle">
        <a href="https://piron-johny.github.io/project-4/">Ice cream</a>
      </h4>
      <span class="project__technology">HTML, CSS(SASS), Java Script, Parcel</span>
      <ul class="project__description">
        <li>Ice cream website. Adaptive.</li>
        <li>Role: The leader of a group of 10 people with me.</li>
        <li>Did the Customer Reviews section.</li>
        <li>
          <a href="https://piron-johny.github.io/project-4/" class="project__link"
            >https://piron-johny.github.io/project-4/</a
          >
        </li>
      </ul>
    </li>
    <li>
      <h4 class="project__subtitle">
        <a href="https://piron-johny.github.io/project-4/">web studio</a>
      </h4>
      <span class="project__technology">HTML, CSS(SASS), Java Script</span>
      <ul class="project__description">
        <li>Web studio website. Adaptive.</li>
        <li>Final homework on HTML CSS</li>
        <li>
          <a href="https://piron-johny.github.io/goit-html-css-40-dz-8/" class="project__link"
            >https://piron-johny.github.io/goit-html-css-40-dz-8/</a
          >
        </li>
      </ul>
    </li>
    <li>
      <h4 class="project__subtitle">
        <a href="https://piron-johny.github.io/project-4/">Image search</a>
      </h4>
      <span class="project__technology">HTML, CSS, Java Script, REST AP, Parcel</span>
      <ul class="project__description">
        <li>Image search website. Adaptive.</li>
        <li>The Axios library (to query Pixabay), Notiflix, SimpleLightbox is used.</li>
        <li>For pagination, an infinite scroll with animation is used.</li>
        <li>
          <a href="https://piron-johny.github.io/goit-js-hw-11/" class="project__link"
            >https://piron-johny.github.io/goit-js-hw-11/</a
          >
        </li>
      </ul>
    </li>
    <li>
      <h4 class="project__subtitle">
        <a href="https://piron-johny.github.io/project-4/">Landing Page</a>
      </h4>
      <span class="project__technology">HTML, CSS(LESS), JQuery</span>
      <ul class="project__description">
        <li>Copywriter's website.</li>
        <li>
          A site for my wife. I did everything myself (layout, design, sending the form to the
          telegram). I got knowledge on the Internet.
        </li>
        <li>In the future, I will be rewriting modern :)</li>
        <li>
          <a href="https://iren-piron.pw/" class="project__link">https://iren-piron.pw/</a>
        </li>
      </ul>
    </li>
  </ul>
</section>
