<section class="work">
  <h3 class="work__title">WORK EXPERIENCE</h3>
  <ul class="work__list">
    <li>
      <h4 class="work__subtitle">Metr +</h4>
      <span class="work__technology">Wholesale company for the sale of children's toys</span>
      <ul class="work__description">
        <li>
          <p class="work__date">Mechanic (2010 - 2015)</p>
          <ul class="work__activities">
            <li>Collect orders (More than 15 thousand items)</li>
            <li>Five people are subordinate. Work with invoices. Acceptance of goods</li>
          </ul>
        </li>
        <li>
          <p class="work__date">Account Manager (2017 - present)</p>
          <ul class="work__activities">
            <li>Collect orders (More than 15 thousand items)</li>
            <li>Five people are subordinate. Work with invoices. Acceptance of goods</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <h4 class="work__subtitle">Beles</h4>
      <span class="work__technology">Subsidiary of MERT+</span>
      <ul class="work__description">
        <li>
          <p class="work__date">Auditor (2015 - 2017)</p>
          <ul class="work__activities">
            <li>Audit Unit. Re-accounting in the regions.</li>
            <li>Work with 1C.</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>
