<div class="soft-skills">
  <h3 class="subtitle">Soft skills</h3>
  <ul class="list">
    <li class="item">
      <h4 class="item__title">Conscientious</h4>
    </li>
    <li class="item">
      <h4 class="item__title">Eager to learn</h4>
    </li>
    <li class="item">
      <h4 class="item__title">Honest</h4>
    </li>
    <li class="item">
      <h4 class="item__title">Inquisitive</h4>
    </li>
    <li class="item">
      <h4 class="item__title">Open-minded</h4>
    </li>
    <li class="item">
      <h4 class="item__title">Organized</h4>
    </li>
  </ul>
</div>
