<div class="teh-skills">
  <h3 class="subtitle">Teh skills</h3>
  <ul class="list">
    <li class="item"><h4 class="item__title">HTML 5</h4></li>
    <li class="item">
      <h4 class="item__title">CSS 3</h4>
      <ul class="item__list">
        <li>SASS</li>
        <li>LESS</li>
      </ul>
    </li>
    <li class="item">
      <h4 class="item__title">Java Script</h4>
      <ul class="item__list">
        <li>Handlebars</li>
        <li>Lodash</li>
        <li>Notiflix</li>
        <li>SimpleLightbox</li>
      </ul>
    </li>
    <li class="item"><h4 class="item__title">Parcel</h4></li>
    <li class="item">
      <h4 class="item__title">REST API</h4>
      <ul class="item__list">
        <li>Postman</li>
        <li>Axios</li>
      </ul>
    </li>
  </ul>
</div>
