.contacts {
  display: flex;
  flex-direction: column;
  & .item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
.icon {
  margin-right: 0.5rem;
  & svg {
    fill: $bloksColorText;
  }
}
.link,
.location {
  font-size: 0.8rem;
  color: $bloksColorText;
}
