.project__title,
.work__title,
.education__title,
.additional__title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Belgrano;
  font-weight: inherit;
  margin-bottom: 0.7rem;
}
.project__subtitle,
.work__subtitle {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: $primaryColor;
  margin-bottom: 0.3rem;
  & a {
    color: inherit;
    margin-right: 1.5rem;
  }
}
.work__subtitle {
  margin-right: 1.5rem;
}
.project__list {
  & > li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.project__technology,
.work__technology {
  font-size: 0.8rem;
  color: $headerBg;
  font-weight: 400;
}
.project__description,
.work__description {
  font-size: 0.8rem;
  padding-left: 0.7rem;
  letter-spacing: 0.05rem;
}
.project__link {
  color: $headerBg;
  text-decoration: none;
}
.work__date {
  margin-bottom: 0.4rem;
}
.work__activities,
.education__list,
.additional__list {
  margin-bottom: 0.4rem;
  list-style: circle;
  padding-left: 1.5rem;
}
.education__subtitle,
.additional__subtitle {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.education__list,
.additional__list {
  list-style: circle;
}
.education__item,
.additional__item {
  font-size: 0.8rem;
}
.additional {
  margin-bottom: 7.6rem;
}
