.aside {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 28%;
  height: 100%;
  background: $asideBg;
  padding: 1.5rem;
  & div:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.aside__img {
  display: block;
  width: 100%;
  height: 15rem;
  background: $headerBg;
  border-radius: 50%;
  margin-bottom: 3rem;
}
