.footer {
  margin-top: auto;
  background: $headerBg;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 0.8rem;
  }
  @media print {
    background: #000;
  }
}
